# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.env
.env.dev
.env.prod

# IDEs/editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
htmlcov/
.tox/
.coverage
.cache
pytest_cache/
nosetests.xml
coverage.xml

# MyPy / Pyright
.mypy_cache/
.pyright/

# Build
build/
dist/
*.egg-info/

test_group_map.py