services:
  - type: web
    runtime: docker
    dockerContext: .
    dockerfilePath: Dockerfile.app
    name: app
    plan: free
    autoDeploy: true
    envVars:
      - key: REDIS_URL
        fromService:
          type: keyvalue
          name: keyvalue
          property: host
      - key: CELERY_BROKER_URL
        fromService:
          type: keyvalue
          name: keyvalue
          property: host
      - key: CELERY_RESULT_BACKEND
        fromService:
          type: keyvalue
          name: keyvalue
          property: host
      - key: ENV
        value: production
      - key: HOST
        value: 0.0.0.0
      - key: PORT
        value: 8000
      - key: EVO_SERVER_URL
        sync: false
      - key: EVO_API_KEY
        sync: false
      - key: EVO_INSTANCE_ID
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: SECRET_KEY
        sync: false

      # Allowed Emails
      - key: ALLOWED_EMAILS
        sync: false

      # Cloudinary Configuration
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false

      # Amazon Configuration
      - key: AMAZON_ACCESS_KEY
        sync: false
      - key: AMAZON_SECRET_KEY
        sync: false
      - key: AMAZON_PARTNER_TAG
        sync: false
      - key: AMAZON_COUNTRY
        sync: false

      # OpenAI Configuration
      - key: OPENAI_HOST
        sync: false
      - key: OPENAI_KEY
        sync: false
      - key: OPENAI_MODEL
        sync: false

  - type: worker
    runtime: docker
    dockerContext: .
    dockerfilePath: Dockerfile.worker
    name: worker
    plan: free
    envVars:
      - key: REDIS_URL
        fromService:
          type: keyvalue
          name: keyvalue
          property: host
      - key: CELERY_BROKER_URL
        fromService:
          type: keyvalue
          name: keyvalue
          property: host
      - key: CELERY_RESULT_BACKEND
        fromService:
          type: keyvalue
          name: keyvalue
          property: host
      - key: SECRET_KEY
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: EVO_SERVER_URL
        sync: false
      - key: EVO_API_KEY
        sync: false
      - key: EVO_INSTANCE_ID
        sync: false

  - type: keyvalue
    name: keyvalue
    plan: free
    ipAllowList: # Allow external connections from everywhere
      - source: 0.0.0.0/0
        description: everywhere
