uvicorn
starlette
fastapi
pydantic
pydantic_settings
authlib
itsdangerous
httpx[http2]==0.27.0
Jinja2
typing
asyncio
python-multipart
python-dotenv
bleach
cloudinary
redis
celery[redis]
openai
pytest
pytest-mock
pytest-asyncio
pytest-cov

https://webservices.amazon.com/paapi5/documentation/assets/archives/paapi5-python-sdk-example.zip#subdirectory=paapi5-python-sdk-example
